:root{
    --background-color: #F0F0F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);

    width: 100vw;
    height: 100vh;

    font-family: 'Poppins', sans-serif;
}

main{
    width: 650px;
    height: 600px;
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px 10px 150px 10px;
}

ul{
    list-style: none;
    display: block;
}

li{
    font-size: 5rem;
    font-style: italic;
    font-weight: 900;
    display: block;
    margin-left: 50px;
}

span{
    color: #884BFE;
}

hr{
    width: 80%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 25px;
}

svg{
    cursor: pointer;
}

svg:hover{
    color: rgb(159, 1, 159);
    transition: .5s ease-in-out;
}

input{
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: left;
    padding-left: 10px;

    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    padding-right: 15px;
    color: rgb(141, 141, 141);
}

input:focus::placeholder {
    color: transparent;
}
.data{
    display: flex;
    gap: 45px;
    padding-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.input-upper-text{
    color: #858585;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 5px;
}

.send-input{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.wrong-border{
    border: 1px solid red;
}

.wrong{
    color: red;
}

.fill-forget{
    display: block;
    color: red;
    margin-top: 2px;
    font-size: 0.6rem;
}

@media (max-width: 660px){

    main{
        width: 400px;
    }

    input{
        width: 90px;
    }

    .data{
        gap: 20px;
        justify-content: center;
        margin-top: 30px;
    }

    li{
        font-size: 4rem;
        margin-left: 30px;
    }
}


@media (max-width: 400px){
    main{
        width: 350px;
    }

    li{
        font-size: 3.5rem;
    }

    svg{
        width: 41px;
        height: 41px;
    }

    .fill-forget{
        font-size: 0.5rem;
    }
}